.subtitulo { background-color: #443c3c;
    color: #ffffffe0;
    text-align: center;
    font-size: 1.5em;animation: unefecto infinite ease-in 2s;}

h1 {color: #ffffff; text-align: center;}
section {align-items: center;
    padding: 0 2rem; font-size: 1.5em;}
.tabla {text-align: center;}




