.subtitulo { background-color: #443c3c;
    color: #ffffffe0;
    text-align: center;
    font-size: 1.5em;animation: unefecto infinite ease-in 2s;}

h1 {color: #ffffff; text-align: center;}
.presentation {gap: 2rem;
align-items: center;
padding: 0 2rem; font-size: 1.5em;}
.btn {background-color: #443c3c;}


.navfooter >li >a:hover {color: #443c3c;}
.presentation__link {font-size: 1.0;}
.paragraph {font-size: 0.6em;}

.titulodecontacto {font-size: 2.2em; color: #ffffff;}

.parrafodecontacto {font-size: 1.2em; color: #ffffff;}

.form-control{font-size: 1.0em;}
.form-label {align-items: flex-start;}

.form-select{font-size: 1.0em;}
.btn {font-size: 1.2em;}