header{background-color: #2d2c2c;}

.subtitulo { background-color: #2f2f2fd7;
    color: map-get($mapaprincipal , subtitulo);
    text-align: center;
    font-size: map-get($mapaprincipal, letra );
    animation: unefecto infinite ease-in-out 2s;}
.fondodecarrousel {background-color: #2d2c2c;}
.presentation { gap: 2rem;
@include centrar();
padding: 0 4rem;}
.presentation__badge {flex-basis: 50%; min-width: 320px}
.img {width: 100%}
#imagen3 {transition:  3s ease-in-out;}
#imagen3:hover {transform: scale(1.30); }

.presentation__text {flex-basis: 50%; 
    background-color:map-get($mapaprincipal , fondo); 
    color: #f7f7f7; border-style: solid; border-color: #8C2222;
    font-size: 0.8em;
}
.presentation__link {text-align: center; font-size: 1.6em;}
#paragraph {font-size: 0.9em;}
.waves{ padding: 2rem;
    margin: 0 auto;
    display: flex;
    
    width: 1105px;
    height: 320px;
    }
.pista{display:flexbox}    
h6 {text-align: center; color: #f7f7f7; text-decoration: solid;font-size: 2.6em;}

.pistamiami{    width: 620px;
    height: 384px;
    transform: translate(170px, 0px);}

.textopista{color: #3a3a3a;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 1.1em;
    flex-basis: 50%; 
    color: #5d5d5d;
    transform: translate(29px, 0px);}  
.titulopiloto {position: relative; left: 0.8%; font-size: 2.2em; color: #f7f7f7;}    
.pilotos {gap: 0.2rem; max-width: 70%;    position: relative;
    left: 10px;}   
.movimientodeimagen {transition: 0.5s ease-in-out}
.movimientodeimagen:hover{transform: scale(5.90);}      
.nombredepilotos {font-size: 0.8em; font-family: ('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Shizuru&family=Suravaram&display=swap');font-weight: bold;}

@media screen and (max-width: 768px)
{ header {padding: 2em;}
header .navbar{flex-direction: column; justify-content: center;}
    .menu {@include alturadeletra();} 
    .subtitulo {font-size: 1.0em;}    
#imagen {flex-grow: 1;}    
.presentation {flex-wrap: wrap;
    flex-direction: column; font-size: larger;  text-align: justify;} 
.presentation__text {font-size: 0.9em; display: flex; flex-direction: column; flex-grow: 1; text-align: center;}

.carousel-caption__linkimg {position: sticky;}
.carousel-caption {height: 10em;}
footer {padding: 2em;}
footer .fondodos {flex-direction: column; justify-content: center;}  
.navfooter {font-size: 00.8em;}  

p {font-size: 1.5rem;}

.carousel-caption__linkimg:hover{color: #727272;}

.textopista{color: #3a3a3a;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 0.9em;
        flex-basis: 50%; 
        color: #5d5d5d;
        transform: translate(-3px, 10px);;
        text-align: inherit;font-size: 1.0em;}      
        h3 {text-align: center; color: #f7f7f7; text-decoration: solid;font-size: 1.9em;}

        .pistamiami{      width: 502px;
            height: 196px;
          flex-direction: column;flex-wrap: wrap; transform: translate(-13px, -1px); }
.pilotos {gap: 0.2rem; max-width: 75%;   position: relative;
            left: 10px;}   

         
            
}
.navfooter >li >a:hover {color: #443c3c;}
.presentation__link {font-size: 1.0;}
.paragraph {font-size: 0.6em;}



