.subtitulo { background-color: #443c3c;
    color: #ffffffe0;
    text-align: center;
    font-size: 1.5em;animation: unefecto infinite ease-in 2s;}
h1 {color: #ffffff; text-align: center;}
h2 {text-align: center;}



.galeria {display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
}
.galeria__textodeimagen{font-size: 2.5em;text-align: center;}
img {width: 100%;}
.titulosdeimagenmultimedia {font-size: 2.0em; text-align: center;}



.movimientodeimagen {transition: 0.5s ease-in-out}
.movimientodeimagen:hover{transform: scale(1.30);}



@media screen and (max-width: 768px)
{ header {padding: 2em;}
header .navbar{flex-direction: column; justify-content: center;}
    .menu {font-size: 0.8em;} 
    .subtitulo {font-size: 1.0em;} 
#imagen {flex-grow: 1;}    
.presentation {flex-wrap: wrap;
    flex-direction: column; font-size: 1.8em;  text-align: justify;} 
.presentation__text {font-size: 0.9em; display: flex; flex-direction: column; flex-grow: 1; text-align: center;}
footer {padding: 2em;}
footer .fondodos {flex-direction: column; justify-content: center;}  
.navfooter {font-size: 00.8em;} 
.galeria {grid-template-columns: 1fr;
grid-template-areas: 
"mercedez-benz"
"ferrari"
"ferrariimagen"
"alpine"
"mercedez-benzimagen"
"alpineimagen"
}

}
.navfooter >li >a:hover {color: #443c3c;}
.presentation__link {font-size: 1.0;}
.paragraph {font-size: 0.6em;}