
section {text-align: center; align-items: center;}

h2 {font-size: 2.2em;}
.presentation__container{font-size: 1.8em; text-align: justify;}

#imagen3 {
    transition: 3s ease-in-out;
}
#imagen3 {width: 1080px;}



 



