@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Shizuru&family=Suravaram&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {font-size: 62.5%;}

body { display: grid;
grid-template-rows: auto 1fr auto;
min-height: 100vh;background-image: linear-gradient(to bottom, #8c2222, #973a4b, #99546e, #976e89, #968699, #9c909f, #a299a4, #a8a3aa, #b0a3ad, #baa2ad, #c5a2a9, #cea2a2);}

ul { list-style-type: none;}
a {text-decoration: none; color: inherit; display: inline-block;
padding: 0px; 

}

.flex-row {display: flex;}
.flex-column {display: flex; flex-direction: column;}
.container { max-width: 1080px; margin:0 auto}













@media screen and (max-width: 768px)
{ header {padding: 2em;}
header .navbar{flex-direction: column; justify-content: center;}
    .menu {font-size: 0.8em;} 
    .subtitulo {font-size: 1.0em;} 
#imagen {flex-grow: 1;}    
.presentation {flex-wrap: wrap;
    flex-direction: column; font-size: 1.8em;  text-align: justify;} 
.presentation__text {font-size: 0.9em; display: flex; flex-direction: column; flex-grow: 1; text-align: center;}
footer {padding: 2em;}
footer .fondodos {flex-direction: column; justify-content: center;}  
.navfooter {font-size: 00.8em;}  
.carousel-item { height: 300px; width: 70vh;}
.carousel-caption__linkimg {font-size: 2.5rem; text-decoration: none;}
p {font-size: 1.5rem;}

.carousel-caption__linkimg:hover{color: #727272;}



}
.navfooter >li >a:hover {color: #443c3c;}
.presentation__link {font-size: 1.0;}
.paragraph {font-size: 0.6em;}


@keyframes unefecto {
    0% { background-color: #727272;}
  }